/*				main site and content
														*/

/* 		background image 		*/
body {
	background: url('img/water.jpg') no-repeat center center fixed; 
	background-size: cover;
	height: 50%;
}


/* 		settings for footer 		*/
footer {
	background-color: #778899; opacity: 0.8;
	margin-top: 445px;
}